body {
margin: 0;
padding: 15px;

}
.border-one {
    border: 8px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}
.purple-box {
border: 60px solid purple;
display: inline-block;
height: 45px;


}
.green-box{
    height: 200px;
    width: 50%;
    background-color: seagreen;
    display: inline-block;
    margin: 0 25px;
}
.circle {
    height: 200px;
    width: 15%;
    border-radius: 200%;
    background-color: steelblue;
    display: inline-block;
    
}
.dot-box {
    border: 8px dotted black;
    margin-top: 20px;
    padding: 3%;
}
.tan-square {
    width: 88%;
    border: 80px solid tan;
    display: inline-block;
    box-shadow: 10px 20px 30px black;
}
.friends-box {
    border: 1px solid black;
    margin-top: 3%;
    margin-left: 9%;
    box-sizing: border-box;
    padding: 7%;
    width: 80%;
    box-shadow: 5px 4px 3px gray;
}
.hello-friends{
    text-align: center;
    font-size: 50px;
    color: blue;
    
}